html{
  background-color: black;
}

@font-face {
  font-family: Marcellus;
  src: url("../../assets/fonts/Marcellus-Regular.ttf");
}

@font-face {
  font-family: ManropeSemiBold;
  src: url("../../assets/fonts/manrope.semibold.otf");
}


.file-input-text{
  margin-bottom: 5px;
}
.application-main{
  color: white;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.application-body{
  background-image: url("../../assets/images/i.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(41, 41, 41);
  width: 100%;
}

.application-header{
  font-family: Marcellus;
  font-size: 70px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
  padding-top: 20px;
  color: white;
}

.application-form{
  font-family: ManropeSemiBold;
  width: 40%;
  margin: 0 auto;
}

.form-input{
  height: 70px;
  font-family: ManropeRegular;
  font-size: 20px;
  color: white;
}

input, textarea{
  font-family: ManropeRegular;
  font-size: 19px;
  color: white;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.446);
}

input[type=text],
input[type=number],
input[type=tel], 
input[type=email],
input[type=file],
textarea{ 
  height: 40px;
  width: 80%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0);
}

textarea{
  height: 100px;
  margin-bottom: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input:focus, textarea:focus{
  outline: none;
}

::placeholder{
  font-family: ManropeSemiBold;
  font-size: 20px;
  opacity: 0.5;
}

.submit{
  cursor: pointer;
  width: 120px;
  height: 60px;
  border-radius: 40px;
  border: none;
  font-size: 100%;
  font-family: ManropeSemiBold;
}

/* Media queries */
@media screen and (max-width: 1200px){
  .application-body{
    background-image: url("../../assets/images/mobile-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 1024px){
  .application-header{
    font-size: 55px;
  }
}

@media screen and (max-width: 880px){
  .application-form{
    width: 90%;
    margin: 30px auto;
  }
}

@media screen and (max-width: 768px) {
  .application-header{
    font-size: 40px;
  }
}

@media screen and (max-width: 375px){
  ::placeholder{
    font-size: 15px;
  }
  .application-header{
    font-size: 28px;
  }
  .form-input{
    font-size: 14px;
  }
}
