
@font-face {
  font-family: ManropeSemiBold;
  src: url("../assets/fonts/manrope.semibold.otf");
}

.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  right: 40px;
  top: 45px;
}

@media screen and (max-width:640px){
  .bm-burger-button {
    width: 25px;
    height: 20px;
    right: 40px;
    top: 40px;
  }
}

@media screen and (max-width:575px){
  .bm-burger-button {
    width: 35px;
    height: 35px;
    right: 33px;
    top: 45px;
  }
}

@media screen and (max-width:515px){
  .bm-burger-button {
    width: 24px;
    height: 22px;
    right: 38px;
    top: 35px;
  }
}


@media screen and (max-width:425px){
  .bm-burger-button {
    width: 20px;
    height: 18px;
    right: 35px;
    top: 35px;
  }
}

@media screen and (max-width:375px){
  .bm-burger-button {
    width: 18px;
    height: 14px;
  }
}

@media screen and (max-width:330px){
  .bm-burger-button {
    width: 12px;
    height: 12px;
    scale: 0.8;
    right: 30px;
    top: 35px;
  }
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: white;
}

.bm-cross {
  height: 30px;
  width: 30px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: white;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  margin-top: -35px;
}

/* General sidebar styles */
.bm-menu {
  background: black;
  background-image: url('../assets/images/mobile-bg.png');
  background-size: cover;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}


/* Wrapper for item list */
.bm-item-list {
  padding: 0.8em;
  text-align: center;
}

/* Individual item */
.bm-item {
  width: 200px;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.488);
  height: 40px;
  text-decoration: none;
  color: white;
  margin: 20px auto;
  font-family: ManropeSemiBold;
  font-size: 18px;
}

.bm-item:hover {
  border-bottom: 3px solid white;
    transition: all 0.2s ease-out;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}